* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: aliceblue;
}

.container {
    top: 50%;
    left: 50%;
    width: 90vw;
    padding: 1.7rem;
    max-width: 30rem;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 0.6em;
    font-size: 1.3rem;
    background-color: #fff;
    
}



#buttonsHolder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
}

#buttonsHolder button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color: #fff;
    cursor: pointer;
}

#user-input {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
}



#result-text h2 {
    font-size: 1.8em;
    text-align: center;
}

#result-text p {
    font-size: 1.25em;
    margin: 1em 0 2em 0;
}

#result-text span {
    font-weight: 600;
}

