[submodule "HTML-Restaurant-Menu"]
	path = HTML-Restaurant-Menu
	url = https://github.com/iDanchou/HTML-Restaurant-Menu.git
[submodule "HTML-Bird-Songs"]
	path = HTML-Bird-Songs
	url = https://github.com/iDanchou/HTML-Bird-Songs.git
[submodule "HTML-Subtitles-Captions"]
	path = HTML-Subtitles-Captions
	url = https://github.com/iDanchou/HTML-Subtitles-Captions.git
[submodule "HTML-Sign-up-Form"]
	path = HTML-Sign-up-Form
	url = https://github.com/iDanchou/HTML-Sign-up-Form.git
[submodule "HTML-Improved-Form"]
	path = HTML-Improved-Form
	url = https://github.com/iDanchou/HTML-Improved-Form.git
