[submodule "HTML-Restaurant-Menu"]
	path = HTML-Restaurant-Menu
	url = https://github.com/iDanchou/HTML-Restaurant-Menu.git
[submodule "HTML-Bird-Songs"]
	path = HTML-Bird-Songs
	url = https://github.com/iDanchou/HTML-Bird-Songs.git
[submodule "HTML-Subtitles-Captions"]
	path = HTML-Subtitles-Captions
	url = https://github.com/iDanchou/HTML-Subtitles-Captions.git
[submodule "HTML-Sign-up-Form"]
	path = HTML-Sign-up-Form
	url = https://github.com/iDanchou/HTML-Sign-up-Form.git
[submodule "HTML-Improved-Form"]
	path = HTML-Improved-Form
	url = https://github.com/iDanchou/HTML-Improved-Form.git
[submodule "css-demo"]
	path = css-demo
	url = C:/Program Files/Git/css-demo
[submodule "UncleStickiesNotepadEmporium-13"]
	path = UncleStickiesNotepadEmporium-13
	url = https://github.com/iDanchou/UncleStickiesNotepadEmporium-13.git
[submodule "CSS-The-Hacker-Times-Part-1"]
	path = CSS-The-Hacker-Times-Part-1
	url = https://github.com/iDanchou/CSS-The-Hacker-Times-Part-1.git
[submodule "CSS-Transform-Transition-and-Animations-Oh-My"]
	path = CSS-Transform-Transition-and-Animations-Oh-My
	url = https://github.com/iDanchou/CSS-Transform-Transition-and-Animations-Oh-My.git
