[submodule "HTML-Restaurant-Menu"]
	path = HTML-Restaurant-Menu
	url = https://github.com/iDanchou/HTML-Restaurant-Menu.git
[submodule "HTML-Bird-Songs"]
	path = HTML-Bird-Songs
	url = https://github.com/iDanchou/HTML-Bird-Songs.git
[submodule "HTML-Subtitles-Captions"]
	path = HTML-Subtitles-Captions
	url = https://github.com/iDanchou/HTML-Subtitles-Captions.git
[submodule "HTML-Sign-up-Form"]
	path = HTML-Sign-up-Form
	url = https://github.com/iDanchou/HTML-Sign-up-Form.git
[submodule "HTML-Improved-Form"]
	path = HTML-Improved-Form
	url = https://github.com/iDanchou/HTML-Improved-Form.git
[submodule "css-demo"]
	path = css-demo
	url = C:/Program Files/Git/css-demo
[submodule "UncleStickiesNotepadEmporium-13"]
	path = UncleStickiesNotepadEmporium-13
	url = https://github.com/iDanchou/UncleStickiesNotepadEmporium-13.git
[submodule "CSS-The-Hacker-Times-Part-1"]
	path = CSS-The-Hacker-Times-Part-1
	url = https://github.com/iDanchou/CSS-The-Hacker-Times-Part-1.git
[submodule "CSS-Transform-Transition-and-Animations-Oh-My"]
	path = CSS-Transform-Transition-and-Animations-Oh-My
	url = https://github.com/iDanchou/CSS-Transform-Transition-and-Animations-Oh-My.git
[submodule "CSS-Responsive-Boxes"]
	path = CSS-Responsive-Boxes
	url = https://github.com/iDanchou/CSS-Responsive-Boxes.git
[submodule "CSS-Recreate-Oscar-Website-Design"]
	path = CSS-Recreate-Oscar-Website-Design
	url = https://github.com/iDanchou/CSS-Recreate-Oscar-Website-Design.git
[submodule "JS-Web-Game-Part-1"]
	path = JS-Web-Game-Part-1
	url = https://github.com/iDanchou/JS-Web-Game-Part-1
[submodule "JS-Callback-Practice"]
	path = JS-Callback-Practice
	url = https://github.com/iDanchou/JS-Callback-Practice.git
[submodule "5.5.5-activity-array-automotive"]
	path = 5.5.5-activity-array-automotive
	url = https://github.com/iDanchou/5.5.5-activity-array-automotive.git
[submodule "JS-Alliance-Brand"]
	path = JS-Alliance-Brand
	url = https://github.com/iDanchou/JS-Alliance-Brand.git
[submodule "JS-Jacks-Paint"]
	path = JS-Jacks-Paint
	url = https://github.com/iDanchou/JS-Jacks-Paint.git
[submodule "JS-Web-Game-Part-7"]
	path = JS-Web-Game-Part-7
	url = https://github.com/iDanchou/JS-Web-Game-Part-7.git
[submodule "JS-Building-an-Interactive-Map"]
	path = JS-Building-an-Interactive-Map
	url = https://github.com/iDanchou/JS-Building-an-Interactive-Map.git
[submodule "JS-Building-Targeted-Ads"]
	path = JS-Building-Targeted-Ads
	url = https://github.com/iDanchou/JS-Building-Targeted-Ads.git
[submodule "JS-Encapsulation-Practice"]
	path = JS-Encapsulation-Practice
	url = https://github.com/HackerUSA-CE/JS-Encapsulation-Practice.git
[submodule "UNLV-SD"]
	path = UNLV-SD
	url = https://github.com/iDanchou/UNLV-SD.git
[submodule "JS-Stock-Charts"]
	path = JS-Stock-Charts
	url = https://github.com/iDanchou/JS-Stock-Charts.git
[submodule "JS-Building-an-Admin-Portal"]
	path = JS-Building-an-Admin-Portal
	url = https://github.com/iDanchou/JS-Building-an-Admin-Portal.git
[submodule "API-JASKIS"]
	path = API-JASKIS
	url = https://github.com/iDanchou/API-JASKIS.git
